<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jokes website</title>
    <style>
        a:link {
            color: blue;
        }

        a:visited {
            color: purple;
        }

        a:hover {
            color: red;
        }

        h1 {
            color: green;
        }

        li {
            color: blue;
        }
    </style>
</head>
<body>
    <h1>Sam's Jokes</h1>
    <ul>
        <li>To make a joke profile click <a href="/jokesProfile">here</a></li>
        <li>To see jokes from one of the profiles click <a href="/profileList">here</a></li>
    </ul>
</body>
</html>